.tituloCurso {
	color: #0bc9cf;
}
.description {
	background-color: #0c1036;
}

.filaPar {
	background-color: #07294bf5;
	color: #fff;
	margin-bottom: 1.5px;
}
.filaImpar {
	background-color: #6c757d;
	color: #fff;
	padding-bottom: 1.5px !important;
}

.video-container {
	padding-bottom: 56, 25%;
	width: 100%;
	height: 100%;
	margin: 0;
}
.YouTubePlayer {
	width: 60vw !important;
	height: 33.75vw !important;
}

.tilde svg {
	min-width: 30px; /* Asegura un tamaño mínimo del contenedor */
	min-height: 30px;
	color: green;
}

.filaModulo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.iconoModulo {
	width: 100%;
	background-color: transparent !important;
	color: #fff !important;
}
