.tituloCurso {
	color: #0bc9cf;
}
.fila {
	cursor: pointer;
	background-color: #07294bf5;
	color: #fff;
	margin-bottom: 1.5px;
	transition: background-color 0.3s ease;
}
.fila.visto {
	background-color: #6c757d;
	color: #fff;
	padding-bottom: 1.5px !important;
}
.fila:hover {
	background-color: #6c757d;
}
.fila.visto:hover {
	background-color: #07294bf5;
}
.video-container {
	padding-bottom: 56, 25%;
	width: 100%;
	height: 100%;
	margin: 0;
}
.YouTubePlayer {
	width: 60vw !important;
	height: 33.75vw !important;
}
.iconoModulo {
	width: 100%;
	background-color: transparent !important;
	color: #fff !important;
}
